
/*structure styles */

body {
    background-color:rgb(203, 145, 218);
    font-family: "Helvetica", sans-serif;
}

section {
    text-align: center;
    background-color:rgb(203, 145, 218);
}

h1 {
    overflow-wrap: break-word;
}

h2 {
    text-align: center;
}

/*navbar styles */

.navbar-toggler {
    background-color: #2ecc71;
}

.navbar-toggler-icon {
    content-visibility: visible;
}



  .navbar-brand img {
    height: 60px; 
  }

.navbar-container {

    background-color: rgb(203, 145, 218);
    display: flex;
    justify-content: center;
    flex: 1 1 0;
    
}
  .navbar-nav {
    display: flex;
    justify-content: center;
    flex: 1 1 0;
    list-style-type: none;
    margin: 0;
  }
  .navbar-nav a {
    color: #0c0c0c; 
    margin: 0 15px; /* Adjust spacing between nav items */
  }

  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color:#2ecc71;
    border: 3px solid  #6c757d;
    border-radius: 0.25rem;
}

/* header styles */

header {
    text-align: center;
    background-color: rgb(203, 145, 218);
}

/* image styles */



/* hero styles */

.hero {
    background-color: rgb(203, 145, 218);
    color: #fff; /* Adjust text color as needed */
    padding: 25px 0; /* Adjust padding as needed */
    text-align: center;
    width: 100%;
  }

  .cna-btn {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #fff; /* Adjust button text color */
    background-color: #2ecc71; /* Adjust button background color */
    border-radius: 5px; /* Adjust button border radius */
  }

}

/* project card styles */

.services {
    background-color: rgb(203, 145, 218); 
    padding: 50px 0; /* Adjust padding as needed */
    text-align: center;
  }

  .service-card {
    margin-bottom: 20px;
  }

.card-body {
    background-color: rgb(169, 243, 233);
}


.card {
    width: 18rem;
    margin-bottom: 20px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

p.lead {
    margin-bottom: auto;
}

/* contact styles */

footer {

    background-color: rgb(203, 145, 218);
    margin-top: 1px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: (203, 145, 218); 
  }

  .social-icons {
    display: flex;
    padding-left: 10px;
    gap: 10px;
  }

  .social-icons a {
    color: rgb(169, 243, 233); /* Adjust social icon color as needed */
    font-size: 20px;
  }


/* Smaller screens */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center;
    }

    .card {
        width: 100%; /* Full width for smaller screens */
        margin-bottom: 15px; 
    }

    .list-of-skills{
        flex-direction: column;
        align-items: center;
}